body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f9f9f9;
}

 /* Primary Color */
.primary-color {
    color: #008080; /* Teal */
}

.primary-bg-color {
    background-color: #008080; /* Teal */
    padding: 10px 20px;
    border: none;
    color: #ffffff; /* White text for better contrast */
    border-radius: 5px;
    cursor: pointer;
}

/* Secondary Color */
.secondary-color {
    color: #CCCCCC; /* Light gray */
}

/* Additional Styling */


h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center; /* Center-align siteplan title */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
}


.card {
    display: block;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #008080;
}


.card p {
    font-size: 18px;
    color: #333;
}

/* List styles */
.card ol,
.card ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card ol {
    color: #333; /* Dark text color for ordered list */
    list-style-type: decimal; /* Ordered list style */
}

.card ul {
    color: #333; /* Dark text color for unordered list */
    list-style-type: disc; /* Unordered list style */
}

.card ol li,
.card ul li {
    font-size: 18px;
    line-height: 1.6;
}

.color-info {
    margin-bottom: 20px;
}

.color-box {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff; /* White text color for contrast */
    margin-top: 5px;

}

.color-box p {
    margin: 0;
    font-size: 16px;
}

.color-teal {
    
    background-color: #008080; /* Teal background */
    padding: 5px 10px; /* Add padding for better appearance */
    border-radius: 5px; /* Rounded corners */
    
}

.light-gray {
    background-color: #CCCCCC;
}