/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #CCCCCC;
    color: black;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Burger Menu */
.burger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: black; /* White text */
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #008080; /* Light gray on hover */
}





/* Hero section styles */
.hero {
    padding: 80px 20px;
    text-align: center;
    background-color: white
}

.hero h1 {
    font-size: 36px;
    font-weight: bold;
    color: #008080;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    line-height: 1.6;
    color: #666; /* Medium gray text color */
}


/* Typing text*/
.typing-text {
    font-size: 1.2rem;
    color: #666; /* Adjust text color as needed */
    margin-bottom: 20px;
    white-space: nowrap; /* Prevent line breaks in typing effect */
    overflow: hidden; /* Hide overflow while typing */
    border-right: 2px solid #333; /* Cursor effect */
    padding-right: 10px; /* Space for cursor effect */
}




/* Main content styles */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px; /* Fixed width for desktop view */
    transition: transform 0.3s, box-shadow 0.3s;
}

.card h2 {
    font-size: 24px;
    color: #008080; /* Teal primary color */
}

.card p {
    margin-top: 10px;
}

.card:hover {
    transform: translateY(-5px); /* Move the card up slightly */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Add a more prominent box shadow */
}

/* Styles for details-hidden */
.details-hidden {
    display: none; /* Initially hidden */
}




/* View Project button styles */
.view-project-btn {
    display: inline-block;
    background-color: #008080; /* Teal primary color */
    color: #fff; /* White text */
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.view-project-btn:hover {
    background-color: #005555; /* Darker teal on hover */
}

/* Footer styles */
footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-top: 1px solid #ccc; /* Light gray border on top */
}

footer p {
    margin: 0;
}

/* Modal styles */
/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black with transparency */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Style Elements within a modal*/
/* Style Elements within a modal */
.modal-body {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.modal-body h3 {
    font-size: 20px;
    color: #333;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.modal-body p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 15px;
}

.modal-body ul {
    list-style: none;
    padding-left: 20px;
    margin-bottom: 20px; /* Added margin between ul elements */
}

.modal-body ul li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

.modal-body ul li::before {
    content: '\2022';
    position: absolute;
    left: 0;
    color: #008080;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}