* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Roboto Mono";
}
a {
    color: inherit;
}

/* HEADER CSS  */


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header-title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    background-color: gray;
}
header h1 {
    padding: 15px;
    margin: 0;
}
#student {
    font-size: 30px;
    color: yellow;
}

/* NAVIGATION CSS  */


.nav-links {
    background-color: black;
    width: 100%;
    margin-top: -20px;
    padding: 15px 0;
}


nav {
    display: flex;
    justify-content: center;
    max-width: 800%;

}
nav a {
    background-color: black;
    display: block;
    justify-content: space-around;

    color: white;
    font-family: "Roboto Mono";
    text-decoration: none;
    white-space: nowrap;
}
nav a:hover {
    text-decoration:overline;
    border: 1px solid #fff;
}

nav ul {
    display: flex;
    flex: 1 1 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}
nav ul li {
    flex: 1 1 100%;
    margin: 0 10px;
    
}

.card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h1 {
    text-align: center;
    background-color: gray;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text-photo {
    display: flex;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: center;
}

.text-photo img {
    max-width: 100%;
    border-radius: 8px;
}

/* FOOTER  */

footer {
    background-color: gray;
    text-align: center;
    padding: 20px 0;
}

/* CARD 1 CSS */

#author {
    color: white;
    font-size: 20px;
}
#modification-date {
    color: yellow;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    
}
#about-me {
    grid-column: span 2;
}

#intro {
    background-color: white;
    padding: 10px;
    
}
#profile-jpg {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
}

#san-antonio {
    text-align: center;
}
.texas-info {
    display: flex;
    padding: 20px;
    gap: 25px;
}


.card {
    border: 1px solid black;   
    border-radius: 10px;
} 

#web-dev-resources h1 {
    background-color: gray;
    text-align: center;
    /* grid-column: span 1; */
    /* grid-row: span 1; */
}

.resource-list ul {
    list-style: none;
    padding: 0;
    
}
.resource-list ul li {
    margin: 75px 0;
}
.resource-list ul li a {
    
    color: black;
    padding: 50px;
    border-radius: 5px;
    transition: background-color 0.3s;
}



