/* Media query for screen 640px and wider */

@media screen and (min-width: 640px) {
    
    .res-grid {
        grid-template-columns: 1fr 1fr;
    } 

    h2 {
        font-size: 22px;
    }
}


/* Media query for screens 768px and wider */
@media screen and (min-width: 768px) {
    
    nav {
        display: flex;
        flex-direction: row;
    }

    .burgerMenu {
        display: none;
    }

    nav a{
        font-size: 20px;
    }

    .res-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    figure {
        margin: 0;
    }

    h2 {
        font-size: 25px;
    }

    figcaption {
        font-size: 20px;
    }



}