@media (min-width: 768px) {
    header h1 {
        width: 84%; 
        margin: 0 auto; 
        margin-bottom: 10px;
        
    }

    input[type="submit"] {
        width:95%;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: -10px;
        background-color: #00796b;
        color: #ffffff;
        border: none;
        cursor: pointer;
        
    }
}

@media (min-width: 1024px) {
    header h1 {
        width: 63%; 
        margin: 0 auto; 
        margin-bottom: 10px;
        
    }
}

@media (min-width: 1440px) {
    header h1 {
        width: 45%; 
        margin: 0 auto; 
        margin-bottom: 10px;
        
    }
}