/*----------- HEADER --------------*/

header {
    background-color: #b2ffff;
    text-align: center;
    color: black;
}

/*----------- BODY --------------*/

body {
    background-color: rgb(236, 231, 231);
    font-size: 16px;
}








/* -----------FORM STYLING SECTION----------- */

.wf1 label {
    display: block;
    margin: 0px;
}

.wf1 select {
    display: block;
}






/* FOOTER */
footer {
    text-align: center;
    background-color:  #b2ffff;

}

.footer-top {
    background-color: white;
    padding-top: 30px;
}

.footer-bottom {
    margin-top: -16px;
    padding-bottom: 30px;
    background-color: white;
    


    

}