@media screen and (min-width: 768px) {

    


    main {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;  
        grid-template-rows: 1fr;
        background-image: url("images/yerba-mate-large.webp");
        background-image: url("images/yerba-mate.png"); /* backup image */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
                
    }

    .yerba-mate {
        display: none;
    }



    .data {
        border-radius: 0px;
        margin-top: 10px;
        margin-left: -25px;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-right: 45px;
    }


    .data-container {
        border: solid black;
        grid-column: 1/2;
        grid-row: 1/3;
        margin-top: 25px;
        margin-left: 50px;
        margin-bottom: 85px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #b2ffff;
    
                
    }

    .weather {
            
        border-radius: 0px;
        margin-left: -15px;
        padding-left: 10px;
        padding-right: 55px;
        margin-right: 35px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }

    .weather-container {
        border: solid black;
        grid-column: 3;
        grid-row: 2;
        margin-bottom: 50px;
        margin-left: -30px;
        padding-left: 5px;
        padding-right: 35px; 
        background-color: #b2ffff;
        
    }
    

    .cloudy-svg {
        grid-row: 2;
        margin-top: -50px;
        margin-left: 45px;
        padding-left: 35px;
            
    }

}