* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Roboto sans-serif;
    background-color: white;
}

h1 {
    margin: 0;
    text-align: center;
    color: black;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5%;
    background-color: #b2ffff;
    margin-top: 25px;
    
}

.data {
    text-align: center;
    margin-top: 15px;
    margin-left: 125px;
    margin-right: 125px;
    background-color: yellow;
    border-radius: 15px;
    /* border: solid black; */
    
    
}


main {
    font-family: Roboto ;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

div:hover {
    background-color:  #b2ffff;
}


.header-border {
    border-top: solid #b2ffff;
    padding-bottom: 22px;
}


.yerba-mate {
    width: 100%;
}


.data-container, .weather-container {
    width: 100%;
    display: grid;
    align-content: center; 
}


.table {

    padding-top: 10px;
    font-size: 14px;
    text-align: center;
    margin-left: 0 ;
    
}

td {
    padding: 5px;
}

.key-bold {
    font-weight: bold;
}

.weather {
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: yellow;
    border-radius: 15px;
    /* border: solid black; */
    
}

.cloudy-svg {
    margin-left: 42%;
}



footer {
    border-top: solid black;
    border-bottom: solid black;
    background-color: #b2ffff;
    padding: 10px;
    font-size:14px;
    text-align: center;
}

.footer-top, .footer-bottom {
    background-color: white;
    margin-left: -10px;
    margin-right: -10px;
}

.footer-top {
    padding-top: 12px;
    margin-top: 12px;
    
}

.footer-bottom {
    padding-bottom: 11px;
    margin-bottom: 11px;
}
