@media screen and (min-width: 768px) {
    /* main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    } */

    /* .yerba-mate {
        width: 100%;
        display: block;
        max-width: 100%;

    } */

    /* .data-container {
        grid-column: 1/3;
        grid-row: 1/2;
    } */

    /* .weather-container {
        grid-column: 2/4;
        grid-row: 1/4 */
    /* } */
    
    h1 {
        background-color: red;
    }
    
    /* main {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(3, 1fr);
    } */


    .data-container {
        border: solid black;
        
    }

    .weather-container {
        border: solid black;
    
    
    }
    
}