* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    text-align: center;
    color: black;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5%;
    background-color: white;
    margin-top: 25px;
    
}

.data {
    text-align: center;
    margin-top: 15px;
    margin-left: 125px;
    margin-right: 125px;
    background-color: yellow;
    border-radius: 15px;
    border: solid black;
    
    
}

header, body {
    background-color: #b2ffff;
}


body {
    font-family: Roboto ;
    text-align: center;
    margin: 0;
    padding: 0;
    
}


.header-border {
    border-top: solid #b2ffff;
    padding-bottom: 22px;
}

/* .image-border-bottom {
    margin-top: -4px;
    border-top: solid black;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
} */

.yerba-mate {
    width: 100%;
}

/* .image-border-top {
    border-bottom: solid black;
} */


.data-container, .weather-container {
    width: 100%;
    display: grid;
    justify-content: center;
    padding-top: 10px;
}

.table {

    padding-top: 10px;
    font-size: 14px;
    text-align: center;
    margin-left: 0 ;
    
}

td {
    padding: 5px;
}

.key-bold {
    font-weight: bold;
}

.weather {
    
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: yellow;
    border-radius: 15px;
    border: solid black;
}

.cloudy-svg {
    margin-left: 125px;
    margin-bottom: 15px;
    
}

footer {
    border-top: solid black;
    background-color: yellow;
    margin-top: 18px;
    padding: 10px;
    font-size:14px;
    text-align: center;
}