* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: black;
    font-size: 15px;
    text-align: center;
    padding: 15px;
}

h2 {
    font-size: 12px;
    text-align: center;
}

header, body {
    background-color: #b2ffff ;
}



.header-border {
    border-top: solid yellow;
}

.image-border {
    margin-top: -4px;
    border-top: solid yellow;
}

.yerba-mate {
    width: 100%;
}

/* .image-border {
    background-color: white;
    border-top: solid yellow;
} */

.table {
    font-size: 10px;
}

footer {
    background-color: yellow;
    margin-top: 15px;
    padding: 10px;
    font-size: 10px;
    text-align: center;
}