@media screen and (min-width: 500px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 40em) {
    .nav-links {
        display: flex;
    }
    .nav-links li {
        display: block;
        flex: 1 1 100%;
    }

    .nav-links a {
        text-align: center;
    }

    #menu {
        display: none;
    }

}